.navbar{
    background-color: #023f79;
}
.logo1{
    width: 150px;
    height: 52px;

}

#userIcon{
    color: floralwhite;
    float: right;
}
.dropdown-toggle btn btn-secondary{
    background-color: #2c29ce;
}