
.div-center { 
    background-color: rgba(255, 255, 255, 0.596);
    position: absolute;
    width: 90%;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;

}
  
div.content {
    vertical-align: middle;
}

.img-fluid{
    height: 100%;
    position: fixed;
    bottom: 0;
}